* {
  box-sizing: border-box;
}

html {
  font-family: "iA Writer Duo", monospace;
}

body {
  margin: 0;
  background: $dark-color;
  color: $light-color;
  font-size: 1rem;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "iA Writer Quattro", sans-serif;
  color: $lightest-color;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.3;
  text-wrap: balance;
  color: $primary-color;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.8;
  text-wrap: balance;
}

h4 {
  font-size: 1.3rem;
  line-height: 2;
  text-wrap: balance;
}

p {
  margin: 1rem 0 2rem;
  text-wrap: stable;
}

a {
  color: $primary-color;
  transition: color 0.35s;
  text-decoration: none;

  &:hover {
    color: $lightest-color;
  }
}

blockquote {
  border: $primary-color solid medium;
  font-style: italic;
  padding: 1rem;
  margin: 1rem 0 2rem;

  > p {
    margin: 0;
  }
}

// Browsers seem to use a smaller default font-size with monospaced code
// blocks (like 80% of the size of normal text) and that looks pretty bad with
// small inline code-blocks in the middle of normal text (mainly because of
// the very noticeable difference in x-height). This CSS corrects that problem.
code {
  font-family: "iA Writer Mono", monospace;
  font-size: 1rem;
  color: rgba($light-color, .8);
}

pre {
  font-family: "iA Writer Mono", monospace;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0;
  overflow: auto;

  // A larger monospaced block of text (that isn't mixed with normal text)
  // generally looks heavier than normal text with the same font size. For this
  // reason using a smaller monospaced font size makes sense in this situation.
  code {
    font-family: "iA Writer Mono", monospace;
    font-size: 1rem;
  }
}

table {
  text-align: center;

  th {
    color: $lightest_color;
  }

  td {
    border: 1px solid;
  }
}


::selection {
  background: rgba($light-color, .25);
}

::-moz-selection {
  background: rgba($light-color, .25);
}
