.body-grid-container {
  display: grid;
  gap: 3rem;
  grid-template-areas:
    "post"
    "post-list"
  ;
  padding: 0;
}

.app-header {
  // padding: 2.5em;
  background: $darkest-color;
  text-align: center;
  grid-area: header;
}

.app-header-avatar {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 100%;
  border: 0.5rem solid $primary-color;
}

.blog-post {
  // padding: 2.5rem;
  grid-area: post;
}

.app-header-social {
  font-size: 2em;
  color: $lightest-color;

  a {
    margin: 0 0.1em;
  }
}

@media (min-width: 940px) {
  .app-header {
    min-height: 100vh;
  }

  .app-container {
    max-width: 65rem;
    margin-left: 20rem;
  }

  .body-grid-container {
    grid-template-areas:
      "header post toc"
      "header post-list place";

    grid-template-columns: minmax(15rem, 1fr) minmax(0, 52rem) minmax(15rem, 1fr);
  }
}
