.toc {
  margin-bottom: 2rem;

  h4 {
    margin: 0 0 1rem;
  }
}

.toc-list {
  font-size: 0.88rem;
  list-style: none;
  padding: 0 0 0 1rem;
  margin: 0;
  border-left: 0.24rem solid $lightest-color;
}
